In [26]:
import pandas as pd
df = pd.read_csv('Kemenag Jatim.csv')

In [27]:
df.head()

              NAMA PENDAFTAR  ...                                 ALASAN TIDAK LULUS
0   ARIF PUJI SATRIO LAKSONO  ...                                                NaN
1  RIA IDOLA NOVITA MALASARI  ...                                                NaN
2            NANANG MULYANTO  ...  null : Tanggal kelulusan ijasah tidak pada mas...
3       MUTAMIMMATUS SA'ADAH  ...                                                NaN
4       HENDRA TRI JUWANDANA  ...                                                NaN

[5 rows x 3 columns]

In [28]:
category = pd.get_dummies(df.STATUS)
df_baru = pd.concat([df, category], axis=1)
df_baru = df_baru.drop(columns='STATUS')
df_baru

                 NAMA PENDAFTAR  ... TIDAK LULUS
0      ARIF PUJI SATRIO LAKSONO  ...           0
1     RIA IDOLA NOVITA MALASARI  ...           0
2               NANANG MULYANTO  ...           1
3          MUTAMIMMATUS SA'ADAH  ...           0
4          HENDRA TRI JUWANDANA  ...           0
...                         ...  ...         ...
2072               EKO PRASETYO  ...           1
2073   ELSA DWI AGUNG KURNIAFIN  ...           0
2074       DYAH TRI SUBIYANTORO  ...           0
2075                M. DJUNAIDI  ...           0
2076            YANTI ANGGRAINY  ...           0

[2077 rows x 4 columns]

In [31]:
Name = df_baru['NAMA PENDAFTAR'].values
Status = df_baru[['LULUS', 'TIDAK LULUS']].values

In [32]:
from sklearn.model_selection import train_test_split
Name_latih, Name_test, Status_latih, Status_test = train_test_split(Name, Status, test_size=0.2)

In [33]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
 
tokenizer = Tokenizer(num_words=5000, oov_token='x')
tokenizer.fit_on_texts(Name_latih) 
tokenizer.fit_on_texts(Name_test)
 
sekuens_latih = tokenizer.texts_to_sequences(Name_latih)
sekuens_test = tokenizer.texts_to_sequences(Name_test)
 
padded_latih = pad_sequences(sekuens_latih) 
padded_test = pad_sequences(sekuens_test)

In [37]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(2, activation='softmax')
])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [39]:
num_epochs = 30
history = model.fit(padded_latih, Status_latih, epochs=num_epochs, 
                    validation_data=(padded_test, Status_test), verbose=2)

Epoch 1/30
52/52 - 3s - loss: 0.5074 - accuracy: 0.8218 - val_loss: 0.4696 - val_accuracy: 0.8269
Epoch 2/30
52/52 - 0s - loss: 0.4548 - accuracy: 0.8272 - val_loss: 0.4878 - val_accuracy: 0.8269
Epoch 3/30
52/52 - 0s - loss: 0.4280 - accuracy: 0.8272 - val_loss: 0.4717 - val_accuracy: 0.8269
Epoch 4/30
52/52 - 0s - loss: 0.2634 - accuracy: 0.8808 - val_loss: 0.7273 - val_accuracy: 0.6707
Epoch 5/30
52/52 - 0s - loss: 0.1157 - accuracy: 0.9597 - val_loss: 0.7811 - val_accuracy: 0.7308
Epoch 6/30
52/52 - 0s - loss: 0.0692 - accuracy: 0.9759 - val_loss: 0.9106 - val_accuracy: 0.6635
Epoch 7/30
52/52 - 0s - loss: 0.0511 - accuracy: 0.9813 - val_loss: 0.9066 - val_accuracy: 0.6947
Epoch 8/30
52/52 - 0s - loss: 0.0295 - accuracy: 0.9898 - val_loss: 1.0250 - val_accuracy: 0.7091
Epoch 9/30
52/52 - 0s - loss: 0.0250 - accuracy: 0.9898 - val_loss: 1.1788 - val_accuracy: 0.6587
Epoch 10/30
52/52 - 0s - loss: 0.0237 - accuracy: 0.9916 - val_loss: 1.3030 - val_accuracy: 0.5962
Epoch 11/30
52/52 - 0s - loss: 0.0210 - accuracy: 0.9922 - val_loss: 1.1543 - val_accuracy: 0.7091
Epoch 12/30
52/52 - 0s - loss: 0.0192 - accuracy: 0.9940 - val_loss: 1.2018 - val_accuracy: 0.6875
Epoch 13/30
52/52 - 0s - loss: 0.0166 - accuracy: 0.9946 - val_loss: 1.3032 - val_accuracy: 0.6418
Epoch 14/30
52/52 - 0s - loss: 0.0150 - accuracy: 0.9934 - val_loss: 1.1983 - val_accuracy: 0.7139
Epoch 15/30
52/52 - 0s - loss: 0.0134 - accuracy: 0.9946 - val_loss: 1.2765 - val_accuracy: 0.7043
Epoch 16/30
52/52 - 0s - loss: 0.0160 - accuracy: 0.9940 - val_loss: 1.2752 - val_accuracy: 0.7163
Epoch 17/30
52/52 - 0s - loss: 0.0123 - accuracy: 0.9964 - val_loss: 1.2638 - val_accuracy: 0.7572
Epoch 18/30
52/52 - 0s - loss: 0.0149 - accuracy: 0.9940 - val_loss: 1.2430 - val_accuracy: 0.7548
Epoch 19/30
52/52 - 0s - loss: 0.0127 - accuracy: 0.9934 - val_loss: 1.3298 - val_accuracy: 0.6947
Epoch 20/30
52/52 - 0s - loss: 0.0126 - accuracy: 0.9946 - val_loss: 1.3086 - val_accuracy: 0.6995
Epoch 21/30
52/52 - 0s - loss: 0.0115 - accuracy: 0.9940 - val_loss: 1.2959 - val_accuracy: 0.7380
Epoch 22/30
52/52 - 0s - loss: 0.0086 - accuracy: 0.9964 - val_loss: 1.8491 - val_accuracy: 0.5745
Epoch 23/30
52/52 - 0s - loss: 0.0144 - accuracy: 0.9940 - val_loss: 1.5451 - val_accuracy: 0.6611
Epoch 24/30
52/52 - 0s - loss: 0.0125 - accuracy: 0.9934 - val_loss: 1.5017 - val_accuracy: 0.6370
Epoch 25/30
52/52 - 0s - loss: 0.0111 - accuracy: 0.9946 - val_loss: 1.4847 - val_accuracy: 0.6707
Epoch 26/30
52/52 - 0s - loss: 0.0124 - accuracy: 0.9946 - val_loss: 1.4708 - val_accuracy: 0.6923
Epoch 27/30
52/52 - 0s - loss: 0.0100 - accuracy: 0.9928 - val_loss: 1.5014 - val_accuracy: 0.6923
Epoch 28/30
52/52 - 0s - loss: 0.0099 - accuracy: 0.9958 - val_loss: 1.4092 - val_accuracy: 0.7308
Epoch 29/30
52/52 - 0s - loss: 0.0094 - accuracy: 0.9940 - val_loss: 1.4323 - val_accuracy: 0.7091
Epoch 30/30
52/52 - 0s - loss: 0.0089 - accuracy: 0.9952 - val_loss: 1.4767 - val_accuracy: 0.7428